<div class="flex-grow">
  <div class="md:hidden">
    <svg viewBox="0 0 351 510" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="167.5" height="168" rx="3" fill="#F2F2EE" />
      <rect y="209" width="149" height="8" rx="3" fill="#F2F2EE" />
      <rect y="225" width="166" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="12" cy="189.5" r="12" fill="#F2F2EE" />
      <circle cx="44" cy="189.5" r="12" fill="#F2F2EE" />
      <circle cx="76" cy="189.5" r="12" fill="#F2F2EE" />
      <rect x="183.5" width="167.5" height="168" rx="3" fill="#F2F2EE" />
      <rect x="183.5" y="209" width="149" height="8" rx="3" fill="#F2F2EE" />
      <rect x="183.5" y="225" width="166" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="195.5" cy="189.5" r="12" fill="#F2F2EE" />
      <circle cx="227.5" cy="189.5" r="12" fill="#F2F2EE" />
      <circle cx="259.5" cy="189.5" r="12" fill="#F2F2EE" />
      <rect y="267" width="167.5" height="168" rx="3" fill="#F2F2EE" />
      <rect y="476" width="149" height="8" rx="3" fill="#F2F2EE" />
      <rect y="492" width="166" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="12" cy="456.5" r="12" fill="#F2F2EE" />
      <circle cx="44" cy="456.5" r="12" fill="#F2F2EE" />
      <circle cx="76" cy="456.5" r="12" fill="#F2F2EE" />
      <rect x="183.5" y="267" width="167.5" height="168" rx="3" fill="#F2F2EE" />
      <rect x="183.5" y="476" width="149" height="8" rx="3" fill="#F2F2EE" />
      <rect x="183.5" y="492" width="166" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="195.5" cy="456.5" r="12" fill="#F2F2EE" />
      <circle cx="227.5" cy="456.5" r="12" fill="#F2F2EE" />
      <circle cx="259.5" cy="456.5" r="12" fill="#F2F2EE" />
    </svg>
  </div>
  <div class="hidden md:block">
    <svg viewBox="0 0 976 812" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="304" height="304" rx="3" fill="#F2F2EE" />
      <rect y="352" width="273" height="8" rx="3" fill="#F2F2EE" />
      <rect y="368" width="304" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="12" cy="328" r="12" fill="#F2F2EE" />
      <circle cx="44" cy="328" r="12" fill="#F2F2EE" />
      <circle cx="76" cy="328" r="12" fill="#F2F2EE" />
      <rect y="426" width="304" height="304" rx="3" fill="#F2F2EE" />
      <rect y="778" width="273" height="8" rx="3" fill="#F2F2EE" />
      <rect y="794" width="304" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="12" cy="754" r="12" fill="#F2F2EE" />
      <circle cx="44" cy="754" r="12" fill="#F2F2EE" />
      <circle cx="76" cy="754" r="12" fill="#F2F2EE" />
      <rect x="336" width="304" height="304" rx="3" fill="#F2F2EE" />
      <rect x="336" y="352" width="273" height="8" rx="3" fill="#F2F2EE" />
      <rect x="336" y="368" width="304" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="348" cy="328" r="12" fill="#F2F2EE" />
      <circle cx="380" cy="328" r="12" fill="#F2F2EE" />
      <circle cx="412" cy="328" r="12" fill="#F2F2EE" />
      <rect x="336" y="426" width="304" height="304" rx="3" fill="#F2F2EE" />
      <rect x="336" y="778" width="273" height="8" rx="3" fill="#F2F2EE" />
      <rect x="336" y="794" width="304" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="348" cy="754" r="12" fill="#F2F2EE" />
      <circle cx="380" cy="754" r="12" fill="#F2F2EE" />
      <circle cx="412" cy="754" r="12" fill="#F2F2EE" />
      <rect x="672" width="304" height="304" rx="3" fill="#F2F2EE" />
      <rect x="672" y="352" width="273" height="8" rx="3" fill="#F2F2EE" />
      <rect x="672" y="368" width="304" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="684" cy="328" r="12" fill="#F2F2EE" />
      <circle cx="716" cy="328" r="12" fill="#F2F2EE" />
      <circle cx="748" cy="328" r="12" fill="#F2F2EE" />
      <rect x="672" y="426" width="304" height="304" rx="3" fill="#F2F2EE" />
      <rect x="672" y="778" width="273" height="8" rx="3" fill="#F2F2EE" />
      <rect x="672" y="794" width="304" height="18" rx="3" fill="#F2F2EE" />
      <circle cx="684" cy="754" r="12" fill="#F2F2EE" />
      <circle cx="716" cy="754" r="12" fill="#F2F2EE" />
      <circle cx="748" cy="754" r="12" fill="#F2F2EE" />
    </svg>
  </div>
</div>
