{%- doc -%}
  Renders the sorting component.

  @param {string} sort_by - The current sort by value
  @param {string} section_id - The section ID
  @param {string} class - The class to apply to the sorting component
{%- enddoc -%}

<sorting-filter-component
  class="flex items-center py-3 p-4 border-1 border-asphalt gap-2 relative {{ class }}"
  on:change="/updateFilterAndSorting"
>
  <label for="sort-{{ section_id }}" class="uppercase text-16-regular text-asphalt shrink-0">Sort by</label>

  <div class="relative flex items-center w-full">
    <select
      id="sort-{{ section_id }}"
      name="sort_by"
      class="appearance-none bg-transparent border-0 text-16-light cursor-pointer focus:outline-none w-full"
      aria-label="Sort products by"
      ref="sortSelect"
    >
      <option
        value="manual"
        {% if sort_by == 'manual' or sort_by == blank %}
          selected
        {% endif %}
      >
        Featured
      </option>
      <option
        value="best-selling"
        {% if sort_by == 'best-selling' %}
          selected
        {% endif %}
      >
        Popular
      </option>
      <option
        value="created-descending"
        {% if sort_by == 'created-descending' %}
          selected
        {% endif %}
      >
        Newest
      </option>
      <option
        value="price-ascending"
        {% if sort_by == 'price-ascending' %}
          selected
        {% endif %}
      >
        Price: Low to High
      </option>
      <option
        value="price-descending"
        {% if sort_by == 'price-descending' %}
          selected
        {% endif %}
      >
        Price: High to Low
      </option>
    </select>
  </div>
  <div class="absolute right-[16px] top-1/2 -translate-y-1/2 pointer-events-none">
    {% render 'icon', icon: 'caret-down' %}
  </div>
</sorting-filter-component>
