

{% assign block_settings = block.settings %}

<div
  class="cart-title spacing-style text-{{ block_settings.alignment }}"
  style="{% render 'spacing-style', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  <h1 class="text-heading-2 text-center pt-16 pb-12">
   {{ block_settings.title }}
  </h1>
</div>

{% schema %}
{
  "name": "t:names.title",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:settings.cart_title",
      "default": "Cart"
    }
  ],
  "presets": [
    {
      "name": "t:names.title"
    }
  ]
}
{% endschema %}
