<div class="px-3 pb-8 md:px-8 md:pb-16 lg:px-12">
    <div class="container-content flex flex-col gap-5 md:gap-8 max-w-[960px] mx-auto">
      <div class="accordion accordion--{{ section.id }}" aria-label="Returns And Exchanges FAQs">
        {% content_for 'blocks' %}
      </div>
      <div class="text-center">
        {% if block.settings.link_label != blank and block.settings.link != blank %}
          {% render 'button',
            label: block.settings.link_label,
            url: block.settings.link,
            style: 'primary',
            color: 'orange',
            size: 'small',
            width_small: 'fill',
            width_medium: 'fill',
            width_large: 'custom',
            custom_width_large: 400
          %}
        {% endif %}
      </div>
      <div class="text-center">
        {% if block.settings.notes != blank %}
          {{ block.settings.notes }}
        {% endif %}
      </div>
    </div>
</div>

{{ 'media-content.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Returns FAQ",
  "blocks": [
    {
      "type": "returns-policy-faq-accordion"
    }
  ],
  "presets": [
    {
      "name": "Returns FAQ"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Returns FAQ Settings"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Button Label",
      "default": "Start a return or exchange"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button Link",
      "info": "e.g. /pages/returns-exchanges#rivo"
    },
    {
      "type": "richtext",
      "id": "notes",
      "label": "Notes",
      "default": "<p>Please check out our <a href='https://brunt-workwear.gorgias.help/en-US/articles/returns-&-exchanges-66677'>FAQs page</a> for more details.<br>You can also reach out to us at <a href='mailto:crew@bruntworkwear.com'>crew@bruntworkwear.com</a>. Please allow up to 24 hours for a response.</p>"
    }
  ]
}
{% endschema %}