<div class="px-3 py-8 md:px-8 md:py-16 lg:px-12">
  <div class="container-content flex flex-col gap-1 text-center">
    <h1 class="text-heading-3">{{ page.title }}</h1>
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:names.page_content"
}
{% endschema %}
