{% liquid
  assign section_settings = section.settings
  assign section_blocks = section.blocks
%}

<announcement-bar>
  <div
    class="swiper announcement-swiper"
    style="background-color: {{ section_settings.announcement_bar_color }}; color: {{ section_settings.announcement_text_color }};"
  >
    <div class="swiper-wrapper items-center">
      {% comment %} Timer Slide - Independent slide with its own message and button {% endcomment %}
      {% if section_settings.enable_timer %}
        {% render 'announcement-slide',
          slide_type: 'timer',
          slide_id: 'timer-slide',
          message: section_settings.timer_message,
          show_timer: true,
          timer_start: section_settings.timer_start,
          timer_end: section_settings.timer_end,
          button_text: section_settings.timer_btn,
          button_link: section_settings.timer_btn_link
        %}
      {% endif %}

      {% comment %} Regular Announcement Blocks {% endcomment %}
      {% for block in section_blocks %}
        {% render 'announcement-slide',
          slide_type: 'block',
          slide_id: block.id,
          message: block.settings.announcement_message,
          show_timer: false,
          button_text: block.settings.announcement_btn,
          button_link: block.settings.announcement_btn_link
        %}
      {% endfor %}
    </div>

    {% comment %} Navigation buttons {% endcomment %}
    {% liquid
      assign total_slides = section_blocks.size
      if section_settings.enable_timer
        assign total_slides = total_slides | plus: 1
      endif
    %}
    {% if total_slides > 1 %}
      <div class="announcement__left swiper-button-prev" aria-label="Previous announcement">
        <div class="h-auto w-[6px] [&>svg]:h-full [&>svg]:w-full">
          {% render 'icon', icon: 'arrow-left' %}
        </div>
      </div>
      <div class="announcement__right swiper-button-next" aria-label="Next announcement">
        <div class="h-auto w-[6px] [&>svg]:h-full [&>svg]:w-full">
          {% render 'icon', icon: 'arrow-right' %}
        </div>
      </div>
    {% endif %}
  </div>
</announcement-bar>

<script
  src="{{ 'announcement-bar.js' | asset_url }}"
  type="module"
  fetchpriority="high"
></script>

{% schema %}
{
  "name": "Announcement Bar",
  "class": "annoucement__section",
  "settings": [
    {
      "type": "color",
      "id": "announcement_bar_color",
      "label": "Background Color Promo Bar",
      "default": "#1E1B1C"
    },
    {
      "type": "color",
      "id": "announcement_text_color",
      "label": "Text Color Promo Bar",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "enable_timer",
      "label": "Enable Timer"
    },
    {
      "type": "text",
      "id": "timer_start",
      "label": "Timer Start",
      "info": "Timer Start - YYYY-MM-DD HH:MM:SS. \n If provided, timer will be hidden until start date is reached"
    },
    {
      "type": "text",
      "id": "timer_end",
      "label": "Timer End",
      "info": "Timer End - YYYY-MM-DD HH:MM:SS"
    },
    {
      "type": "textarea",
      "id": "timer_message",
      "label": "Timer Message"
    },
    {
      "type": "url",
      "id": "timer_btn_link",
      "label": "timer Link",
      "info": "Link unavailable will remove the button"
    },
    {
      "type": "text",
      "id": "timer_btn",
      "label": "timer Button",
      "default": "Shop now"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:names.announcement",
      "settings": [
        {
          "type": "textarea",
          "id": "announcement_message",
          "label": "Announcement Message"
        },
        {
          "type": "url",
          "id": "announcement_btn_link",
          "label": "Announcement Link",
          "info": "Link unavailable will remove the button"
        },
        {
          "type": "text",
          "id": "announcement_btn",
          "label": "Announcement Button",
          "default": "Shop now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:names.announcement_bar",
      "blocks": [
        {
          "type": "announcement",
          "settings": {
            "announcement_message": "Announcement Message",
            "announcement_btn_link": "https://bruntworkwear.com/",
            "announcement_btn": "Shop now"
          }
        }
      ],
      "settings": {
        "enable_timer": true,
        "timer_start": "2025-01-01 00:00:00",
        "timer_end": "2025-01-01 00:00:00"
      }
    }
  ]
}
{% endschema %}
