

<cart-items-component
  class="cart-items-component"
  data-section-id="{{ section.id }}"
>
  <div
    class="section"
  >
    <div class="cart-page__title">
      <h1 class="text-heading-2 text-center pt-16 pb-12 text-uppercase">
        Cart
       </h1>
    </div>
    <div
      class="cart-page mx-auto px-3 max-w-[1000px] gap-x-[80px] spacing-style{% if cart.empty? %} cart-page--empty{% endif %}"
    >

      <div class="cart-page__items">
        {% render 'cart-products' %}
      </div>

      {%- unless cart.empty? -%}
        <div class="cart-page__summary">
          <div class="cart-page__summary-inner pb-7">
            <h2 class="text-subheading-1  text-uppercase">Your Order</h2>
          </div>
          
          {% render 'cart-summary' %}
        </div>
      {%- endunless -%}
    </div>
  </div>
</cart-items-component>

{% stylesheet %}

 /* custom css for cart page */

.cart-items__table-row:last-child {
  border-bottom: none;
}

/* end custom css for cart page */

  .cart-page {

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cart-page--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cart-page--empty .cart-page__title,
  .cart-page--empty .cart-page__more-blocks {
    margin-top: var(--margin-6xl);
  }

  .cart-page__more-blocks {
    width: 100%;
  }

  .cart-page--empty .cart-title {
    text-align: center;
  }

  .cart-page__main {
    grid-column: 1;
  }

  .cart-page__summary {
    padding-top: var(--padding-xl);
  }

  .cart-page__summary .cart__ctas {
    padding-top: 28px;
  }

  @media screen and (min-width: 750px) {
    .cart-page {
      grid-template-columns: 1fr min(50vw, var(--sidebar-width));
      grid-template-rows: min-content min-content 1fr;
    }

    .cart-page__summary {
      display: grid;
      grid-column: 2;
      grid-row: 1 / -1;
      align-self: baseline;
      padding-top: 0;

      /* needed to support blurred effect from hero section */
      position: relative;
    }

    .section--page-width .cart-page:has(.cart__container--extend) {
      grid-column: 2 / 4;
      grid-template-columns: 1fr minmax(
          var(--sidebar-width),
          calc((100vw - var(--page-width)) / 2 + var(--sidebar-width))
        );
    }

    .cart__container--extend {
      height: 100%;
    }
  }

  @media screen and (min-width: 1400px) {
    .cart-page {
      grid-template-columns: 1fr var(--sidebar-width);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.cart",
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
