<script type="application/ld+json">
  {{ closest.product | structured_data }}
</script>

<div
  class="product-information section container-layout relative px-3 pt-2 pb-9 lg:grid lg:grid-cols-2 lg:gap-5 lg:px-12 lg:pt-2 lg:pb-16"
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:names.product_information",
  "blocks": [
    {
      "type": "_product-media-title"
    },
    {
      "type": "_product-buy-box"
    },
    {
      "type": "@app"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": []
}
{% endschema %}
